<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Testing Suite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="com.lits.rubinskyy.TestListener"/>
    </listeners>

    <test name="Calculator Test"  >

        <packages>
            <package name="com.lits.rubinskyy.calculator"></package>
        </packages>
    </test>

    <test name="App Test"  >

        <packages>
            <package name="com.lits.rubinskyy.app"></package>
        </packages>
    </test>
</suite>